.Profile-constShadow {
 border-radius: 6px;
  background-color: white;
  width: 100px;
  display: inline-block;
}

.profile-name{
  text-transform: uppercase;
  line-height: 18px;
  padding: 20px;

}






.profile-img img{
 width: 100px;
 border-radius: 50%;
 margin-left: -20px;
}